<div <div class=moduleHead>
  <{$sectionhead}>
</div>
<table class="outer" cellspacing="1">
    <td class="head">Select a Client System Section</td>
  <tr>
    <td class="even"><a href="<{$xoops_url}>/modules/obsclient/hd_index.php"><br> >> Help Desk<br><br></a></td>
  </tr>
  <tr>
    <td class="odd"><a href="<{$xoops_url}>/modules/obsclient/tt_index.php"><br> >> Time Tracking<br><br></a></td>
  </tr>
  <tr>
    <td class="even"><a href="<{$xoops_url}>/modules/obsclient/kb_index.php"><br> >> Knowledge Base<br><br></a></td>
  </tr>
</table>
