<div class=moduleHead>
  <a href="<{$xoops_url}>/modules/obsclient/index.php"><{$sectionhead}></a> : Help Desk
</div>
<table class="outer" cellspacing="1">
  <tr>
    <td class="head">New Help Desk Tickets</td>
  <tr>
    <td class="even"><a href="<{$xoops_url}>/modules/obsclient/hd_ticket.php?TicketState=new"><br> >> Create New Ticket<br><br></a></td>
  </tr>
  <tr>
    <td class="head">View / Update Existing My Help Desk Tickets</td>
  </tr>
  <tr>
    <td class="even"><a href="<{$xoops_url}>/modules/obsclient/hd_view_ticket.php?ViewBy=date"><br> >> View My Tickets by Date<br><br></a></td>
  </tr>
  <tr>
    <td class="odd"><a href="<{$xoops_url}>/modules/obsclient/hd_view_ticket.php?ViewBy=subject"><br> >> View My Tickets by Subject<br><br></a></td>
  </tr>
  <tr>
    <td class="even"><a href="<{$xoops_url}>/modules/obsclient/hd_view_ticket.php?ViewBy=status"><br> >> View My Tickets by Status<br><br></a></td>
  </tr>
  <tr>
    <td class="odd"><a href="<{$xoops_url}>/modules/obsclient/hd_view_ticket.php?ViewBy=priority"><br> >> View My Tickets by Priority<br><br></a></td>
  </tr>
  <tr>
    <td class="even"><a href="<{$xoops_url}>/modules/obsclient/hd_view_ticket.php?ViewBy=category"><br> >> View My Tickets by Category<br><br></a></td>
  </tr>
  <tr>
    <td class="odd"><a href="<{$xoops_url}>/modules/obsclient/hd_view_ticket.php?ViewBy=client"><br> >> View My Tickets by Client / Dept<br><br></a></td>
  </tr>
</table>
